body {
    background-color: antiquewhite;
}

#submit {
    background-color: darkgray;
}

#submit:hover {
    background-color: green;
}

#city {
    border: 2px solid black;
}

img {
    margin-right: 10px;
    color: antiquewhite;
}

main {
    margin-top: 50px;
}

.card-body {
    border: 2px solid black;
    background-color: rgb(219, 214, 214);
}
#image-content {
    opacity: 75%;
}
